body
{
  background-color: rgb(100%, 100%, 100%);
  color: rgb(0%, 0%, 0%);
  font-family: arial, helvetica, sans-serif;
  font-size: 16px;
  padding: 1rem;
}

.link
{
  color: rgb(0%, 0%, 80%);
  text-decoration: none;
}

.link:focus,
.link:hover
{
  text-decoration: underline;
  outline-style: none;
}

.box
{
  border-color: rgb(0%, 0%, 0%);;
  border-style: solid;
  border-width: 1px;
  margin: 3px;
  padding: 3px;
}
